body{
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  padding: 0;
}
section{
  margin-bottom: 120px;
  
}
/* ====== Top Banner Section Starts ===== */

.top-banner{
  margin-top: 50px;
}

.stay-focused{
  display: flex;
}

.half-width {
  width: 50%;
  margin-left: 5%;
}

.left-border{
  border-left: 5px solid rgb(235, 84, 84);
  border-radius: 5px;
  
}
.mission-title{
  font-size: 55px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.mission-span{
  color: Orange;
  
}
.half-width img{
width: 65%;

}

.half-width p{
  font-size: 19px;
  color: rgb(134, 111, 111);
  padding:20px 0px;
  
}

.explore-btn{
  background-color: rgb(235, 84, 84);
  text-decoration: none;
  padding: 15px 30px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

/* ====== Top Banner Section Ends ===== */

/* ===== My Mission Section Starts ===== */
.My-Mission-flex{
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}

.My-Mission-box{
  flex-basis: 30%;
  border-radius: 20px;
}

.My-Mission-title{
  text-align: center;
  font-size: 40px;
}

.My-Mission-span{
  color: orange;
}

.My-Mission-box img{
  width: 50%;
}

.My-Mission-content{
  padding: 20px;
}

.My-Mission-content h3{
  font-size: 25px;
  margin-bottom: 0px;
}

.My-Mission-content p{
  font-size: 18px;
  color: rgb(134, 111, 111);
}
#illustrators1{
  background-color: rgba(192, 229, 240, 0.322);
}

#illustrators2{
  background-color: rgba(240, 228, 165, 0.322);
}

#illustrators3{
  background-color: rgba(218, 158, 253, 0.322);
}



/* ===== My Mission Section Starts ===== */

/* ====== Devoloment Limit Section Starts ======  */

.Devolopment-section{
  background-image: url(./Images/shapes/shape-1.png);
  background-size: 300px;
  background-position:left;
  background-repeat: no-repeat;
}

#Devolopmentlimit{
  margin-left: 7%;
}

#Devolopmentlimit img{
  width: 80%;
 
}

.Devolopment-title{
  font-size: 55px;
  margin-bottom: 0px;
  
}
/* ====== Devoloment Limit Section Starts ======  */

/*  ===== Global Section Starts ======*/

.Global-section{
  background-image: url(./Images/shapes/shape-1.png);
  background-size: 250px;
  background-position:right bottom;
  background-repeat: no-repeat;
}

/*  ===== Global Section Starts ======*/

/* ====== Application Section Starts ====== */

#Application{
font-size: 60px;
}

.Application-title{
  font-size: 40px;
  margin-bottom: 0px;
}

.Application-span{
color: orange;
}
/* ====== Application Section Ends ====== */

/* ===== Footer Section Starts ===== */
.footer-mission{
  background-color: rgb(24, 23, 23);
  padding: 10px;
}

.footer-title{
  text-align: center;
  font-family: 'The Nautigal', cursive;
  font-size: 50px;
  color: brown;
  margin-bottom: 0;
}

.footer-span{
  color: white;
}

.footer-mission p{
  color: white;
  text-align: center;
}
/* ===== Footer Section Ends ===== */